.ticket {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #F7F8FA;
  border-radius: 1.88vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: background-color 0.5s ease;

  .main-row {
    display: flex;
    justify-content: space-between;

    .image {
      width: 20%;
      height: auto;

      img {
        width: 100%;
        border-radius: 1.88vw;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      }
    }
    .type-vehicle{
      background-color: #6A0DAD;
      border-radius: 1.88vw;
      color: white;
      font-weight: bold;
      padding: 5px 10px;
    }

  }

  .close-button {
    width: 100%;

    button {
      border-radius: 1.88vw;
      width: 100%;
    }
  }
}
.ticket:hover {
  background-color: #FFCC00;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 10px, rgba(0, 0, 0, 0.24) 0px 1px 9px;
}
